@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-ink-900 text-ink-200;
    font-family: 'Lora', Georgia, serif;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-ink-700 rounded-full;
  }
}
